@import './_vars';

.form__login {
    border: 2px solid #000;
    width: 95%;
    max-width: 25rem;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
    .input {
        position: relative;
        width: 100%;
        div {
            margin-bottom: 0.5rem;
            height: 3rem;
            @media screen and (min-width: 35rem) {
                height: 2rem;
                margin-bottom: 2rem;
                display: flex;
            }
            label {
                display: block;
                width: 100%;
                @media screen and (min-width: 35rem) {
                    width: 30%;
                    display: flex;
                    align-items: end;
                    justify-content: end;
                    padding-right: 1rem;
                }
            }
            input {
                width: 100%;
                height: 2rem;
                @media screen and (min-width: 35rem) {
                    // position: absolute;
                    width: 70%;
                    // right: 0;
                }
            }
        }
        div:last-child {
            margin-bottom: 1rem;

            @media screen and (min-width: 35rem) {
                margin-bottom: 2.5rem;
            }
        }
    }
    input[type=submit] {
        height: 2rem;
        width: 100%;
    }
    @media screen and (min-width: 30rem) {
        box-shadow: 20px 20px 30px 10px rgba(0,0,0,0.15);
    }
    @media screen and (min-width: 60rem) {
        margin: 4rem auto;
    }
//     width: 12.5rem;
//     height: 100%;
//     display: flex;
//     position: relative;
//     margin: 0.5rem;
//     margin-right: 1rem;
//     .input {
//         position: relative;
//         width: 10rem;
//         @media screen and (min-width: 37rem) {
//             width: 13rem;
//             div {
//                 display: flex;
//                 &:first-child {
//                     position: relative;
//                     input {
//                         position: absolute;
//                         border-radius: 0.5rem 0 0 0;
//                     }
//                 }
//                 &:last-child {
//                     position: relative;
//                     input {
//                         position: absolute;
//                         bottom: 0;
//                     }
//                 }
//             }
//         }
//         label {
//             display: block;
//             color: $text-color-white;
//         }
//         input {
//             display: block;
//             right: 0;
//             height: 96%;
//             border: none;
//             padding-left: 0.5rem;
//             @media screen and (min-width: 37rem) {
//                 position: absolute;
//                 width: 8rem;
//             }
//         }
//         div:last-child input {
//             border-radius: 0 0 0 0.5rem;
//         }
//     }
//     input[type="submit"] {
//         position: absolute;
//         right: 0;
//         display: block;
//         width: 3rem;
//         height: calc(100%);
//         border: none;
//         border-radius: 0 0.5rem 0.5rem 0;
//         @media screen and (min-width: 37rem) {
//             width: 4.6rem;
//         }
//     }
//     @media screen and (min-width: 37rem) {
//         width: 18rem;
//     }
}