$bg-color-fushia: #cf0056;
$bg-color-fushia-hover: #e44185;
$text-color-white: #fff;
$text-color-black: #000;
$width-header: 10rem;
$height-header: 3rem;
$offset-responsive: $width-header;
$size-burger: 2rem;
$offset-burger: 0.5rem;
$offset-burger-isopen: 11rem;