<%- include('../partials/head') %>
<%- include('../partials/header') %>
  <h1 class="content-title">Erreur</h1>
  <section class="segment">
    <p><%= locals.message || 'Une erreur s\'est produite' %></p>
  </section>
<%- include('../partials/footer') %>