<%- include('../partials/head') %>
<%- include('../partials/header') %>
    <h1 class="main__title">Products</h1>
    <p>List of last products...</p>
        <section class="main__article">
        <% if (products.length > 0) { %>
            <%- include('../partials/product_list') %>
        <% } else { %>
            <p>No products found</p>
        <% } %>
        </section>
<%- include('../partials/footer') %>