<%- include('../partials/head') %>
<%- include('../partials/header') %>
     <h1 class="main__title">Products detail</h1>
     <section class="main__article">
          <%- include('../partials/product_detail') %>
     </section>
<%- include('../partials/footer') %>