<%- include('../partials/head') %>
<%- include('../partials/header') %>
    <h1 class="main__title">Signup</h1>
    <% if (error) { %>
        <p class="error">
            <%= error %>
        </p>
    <% } %>
    <form action="/signup" method="POST" class="form__signup">
        <div class="input">
            <div>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" required>
            </div>
            <div>
                <label for="emailConfirm">Email confirm:</label>
                <input type="text" name="emailConfirm" id="emailConfirm" required>
            </div>
            <div>
                <label for="lastname">Lastname</label>
                <input type="text" name="lastname" id="lastname">
            </div>
            <div>
                <label for="firstname">Firstname</label>
                <input type="text" name="firstname" id="firstname">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div>
                <label for="passwordConfirm">Password confirm:</label>
                <input type="password" name="passwordConfirm" id="passwordConfirm" required>
            </div>
        </div>
        <input type="submit" value="Signup">
    </form>
<%- include('../partials/footer') %>